.button {
  border: none;
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-md);
  padding: 0 var(--spacing-md);
  height: 40px;
  border-radius: var(--radius-md);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
  .icon {
    display: flex;
    align-items: center;
  }
}

.primary {
  background: var(--color-blue-base);
  color: var(--color-white);
}

.primary:hover:not(:disabled) {
  background: var(--color-blue-dark);
  color: var(--color-white);
}

.primary:disabled {
  background: var(--color-blue-base);
  color: var(--color-white);
  opacity: 50%;
  cursor: not-allowed;
}

.secondary {
  background: var(--color-gray-200);
  color: var(--color-gray-500);
  border: 1px solid var(--color-gray-200);
  border-radius: var(--radius-sm);
  gap: 6px;
}

.secondary:hover:not(:disabled) {
  color: var(--color-gray-500);
  border: 1px solid var(--color-blue-base);
}

.secondary:disabled {
  border-color: var(--color-gray-200);
  color: var(--color-gray-500);
  opacity: 50%;
  cursor: not-allowed;
}
